html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #95a5a6;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body h1{
    color: #fff;
}

fieldset{
    border: none;
}

form{
    width: 25vw;
    background-color: #ececec;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #333;
}

input,label{
    display: block;
    width: 100%;
    box-sizing: border-box;
    
}

label{
    margin-bottom: .25em;
}

input, textarea{
    padding: .75em;
    border-radius: 5px;
    border: 1px solid #bbb;
    border-bottom: 2px solid black;
    margin-bottom: 1.5em;
    outline: 0;
}

/* input:invalid, textarea:invalid{
    background-color: #ffb5b5;
}

input:valid{
    background-color: #c5ffa3;
} */

input:invalid:focus, textarea:invalid:focus{
    border-bottom: 2px solid #ff000d;
}

input:valid:focus, textarea:valid:focus{
    border-bottom: 2px solid #0ec72a;
}

input:focus, textarea:focus{
    border-bottom: 2px solid #76bb4e;
    background-color: #f0f5fa;
}

legend{
    font-weight: bold;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.btn{
    padding: .7rem;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
    margin: 2rem;
    background-color: #76bb4e;
    font-weight: bold;
}

.actions{
    display: flex;
    gap: 15px;
}