:root {
    --dark: #272D38;
    --light: #FFF;
    --primary-color: #8EADD5;
    --primary-color-dark: #3f3f3f;
    --gray: #F6F6F6;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    text-align: center;
    margin: 0;

    background-image: radial-gradient(circle at left top, rgb(142 173 213 / .3), transparent 400px),
    radial-gradient(circle at right center, rgb(142 173 213 / .3), transparent 400px);
}

.content-wrapper-center {
    padding: 3rem 1rem 2rem;
    max-width: 70vw;
    margin: auto;
}

.imagem{
    text-align: center;
}

.header-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    text-align: right;

    /* display: none; */
}

.heto_title{
    margin: 0;
}

.header-menu a {
    display: block;
    padding: 2em 0;
    font-size: 1.8rem;
}

a {
    color: inherit;
}

p{
    font-size: 1.4rem;
}

nav a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 3rem;
}

.header {
    text-align: left;
}

.header img{
    height: 2rem;
}


.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1.3em;
    font-size: 1.4rem;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--light);
}

.btn:hover,
.btn:focus {
    background-color: var(--primary-color-dark);
}

img {
    /* max-width: 100%; */
}

.brands{
    text-align: center;
}

.brands h2 {
    font-size: 1rem;
    font-weight: lighter;
    color: #667085;
}

.brands ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1em;

    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.testemunho {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;

    container: testemunhoCard / inline-size;
}

.testemunhos_title{
    text-align: center;
}

.testemunho_thumb {
    width: 8.2rem;
    height: 8.2rem;
}

.contato {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 4rem;
}

.contato_image {
    display: none;
}

.footer {
    background-color: var(--gray);
    font-size: 1.3rem;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.copyright {
    white-space: nowrap;
}


.hero,
.brands,
.branding,
.testemunhos,
.contato {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
    grid-auto-flow: dense;
}

.row.contato{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.contato_title{
    margin-top: 0;
}

.row.testemunhos_wrapper{
    row-gap: 3rem;
}

.row>.sm-12{
    grid-column: 1 / 13;
}
.testemunho_card{
    display: flex;
    /* align-items: ; */
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons li{
    display: inline-block;
    font-size: 2rem;
}

.icons li + li{
    margin-left: 1rem;
}

@container testemunhoCard (min-width: 42rem){
    .testemunho_card{
        flex-direction: row;
        text-align: left;
    }
}

/* Versão tablet */
@media screen and (min-width: 50rem) {
    body{
        text-align: left;
    }
    h1 {
        font-size: 3.6rem;
    }
    
    h2 {
        font-size: 4rem;
    }
    .hero_title{
        font-size: 3rem;
    }
    .hero_title + p{
        font-size: 1.3rem;
    }
    .header{
        align-items: center;
    }
    .menu-btn, .menu-icon{
        display: none;
    }
    .header-menu{
        /* display: block; */
        margin: 0;
        flex-direction: row;
    }
    .header-menu li{
        display: inline-block;
        margin-left: 2rem;
    }
    .header-menu a{
        padding: 1rem;
    }
    .contato_image {
        display: inline-block;
        text-align: center;
    }
    .row{
        gap: 1rem;
    }
    .row>.md-3{
        grid-column: span 3;
    }
    .row>.md-4{
        grid-column: span 4;
    }
    .row>.md-6{
        grid-column: span 6;
    }
    .row>.md-9{
        grid-column: span 9;
    }
    .row>.md-1-6{
        grid-column: 1 / 6;
    }
    .row>.md-7-12{
        grid-column: 7 / -1;
    }
    
}
/* Versão desktop */
@media screen and (min-width: 90rem) {
    .hero_title{
        margin-bottom: 6.2rem;
        font-size: 3rem;
    }
    .header p{
        font-size: 1.5rem;
    }
    .hero_title{
        font-size: 6rem;
    }
    .testemunho_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* align-items: ; */
        gap: 1.5rem;
    }
    .row{
        gap: 3rem;
    }
    .row>.lg-1-5{
        grid-column: 1 / 6;
    }
    .row>.lg-1-7{
        grid-column: 1 / 8;
    }
    .row>.lg-3{
        grid-column: span 3;
    }
    .row >.lg-4{
        grid-column: span 4;
    }
    .row >.lg-5{
        grid-column: span 5;
    }
    .row>.lg-6{
        grid-column: span 6;
    }
    .row>.lg-7{
        grid-column: span 7;
    }
    .row>.lg-8-12{
        grid-column: 8 / -1;
    }
}


/* Hamburguer menu */

.menu-icon{
    position: relative;
    cursor: pointer;
    /* user-select: none; */
    height: 24px;
}

.nav-icon{
    background-color: #333;
    display: inline-block;
    height: 2px;
    width: 24px;
    position: relative;
}

.nav-icon::after, .nav-icon::before{
    content: "";
    background-color: #333;
    display: inline-block;
    height: 2px;
    width: 24px;
    position: absolute;
    transition: transform .3s;

}

.nav-icon::after{
    transform: translateY(8px);
    transition: transform .3s;
}

.nav-icon::before{
    transform: translateY(-8px);
}

.menu-btn:checked + .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
}

.menu-btn:checked + .menu-icon .nav-icon::after{
    transform: rotate(45deg);
}


.header{
    display: flex;
    justify-content: space-between;
}

.header nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-menu{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    max-height: 0;
    overflow: hidden;
    background-color: white;
    transition: max-height .3s;
    padding-right: 1rem;
}

.menu-btn:focus-visible + .menu-icon{
    outline: 2px solid black;
    outline-offset: 3px;
}

.menu-btn:checked+.menu-icon .nav-icon{
    background-color: transparent;
}

.menu-btn:checked ~.header-menu{
    max-height: 100vh;
}

.header-menu:focus-within{
    max-height: 100vh;
}

@media screen and (min-width: 50rem) {
    .header-menu{
        position: static;
        max-height: initial;
        background-color: initial;
    }
}